<h1 style="text-align:center;">Login</h1>
<div class="login-form-wrapper" style="width:65%;margin:0 auto;">

<%= render "shared/flash_notice", flash: flash %>

<%= simple_form_for :sessions, url: '/archive/login' do |f| %>
  <%= f.input :email, label: 'Email:', error: 'Email required' %>
  <%= f.input :password, label: 'Password:', error: 'Password required', input_html: { maxlength: 20 } %>
  <%= f.button :submit, "Login"%>
  <%= link_to 'Return to Home', '/archive' %>
<% end %>
</div>
