<% if current_user %>
<!-- Wrapper -->
<div id="wrapper">

<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1><%=@artifact.artifact_name%></h1>
			<h4><%=@artifact.subject_author_name%></h4>
			<span class="image main"><img src="<%=@artifact.image_url%>" alt="Image of <%=@artifact.artifact_name%>" /></span>
			<% if @artifact.transcribed_text -%>
			<h3>Transcribed Text of Document</h3>
			<p><%=@artifact.transcribed_text%></p>
			<% end -%>
			<h3>Story</h3>
			<p><%=@artifact.story_text%></p>
		</div>
	</div>

</div>
<% else %>
<h1>Please login to view the archive</h1>
<% end %>
