<% if current_user %>
<style>
	.thumbnails {
		width: 70%;
		overflow: auto;
		overflow-y: hidden;
		white-space: nowrap;
	}
	.thumbnails img {
		height: 80px;
		padding: 1px;
		margin: 0 10px 10px 0;
	}

	.gallery {
		position: relative;
	}
	.thumbnails img:hover {
		cursor:pointer;
		border: 2.5px solid #f2849e;;
	}

	.preview img {
		padding: 1px;
		height: 100%;
	}
</style>

<!-- Wrapper -->
<div id="wrapper">

<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1><%=@artifact.artifact_name%></h1>
			<h3><%=@artifact.subject_author_name%></h3>

			<div class="gallery" align="center">
				<div class="image preview" align="center" style="height: 500px;">
					<img id="preview" src="<%=@artifact.image_url[0]%>" alt="Image of <%=@artifact.artifact_name%>" />
				</div>
				<hr style="margin-right: 280px; margin-left: 280px;">
				<div class="thumbnails" >
					<% for image in @artifact.image_url %>
					<img onclick="getElementById('preview').src='<%=image%>'" src="<%=image%>" alt="<%=image%>" />
					<% end %>
				</div>
			</div>
			<hr style="margin-right: 280px; margin-left: 280px; margin-bottom: 50px;">

			<h2>Story</h2>
			<% for s_paragraph in @story_paragraphs %>
				<p style="font-size:18px;"><%=s_paragraph%></p>
			<% end %>
			<% if @artifact.transcribed_text -%>
			<h2>Transcribed Text of Document</h3>
				<% for t_paragraph in @transcribed_paragraphs %>
					<p style="font-size:18px;"><%=t_paragraph%></p>
				<% end %>
			<% end -%>
		</div>
		<hr style="margin-right: 280px; margin-left: 280px; margin-top: 50px;">
	</div>

</div>
<% else %>
<h1>Please login to view the archive</h1>
<% end %>
