<% if current_user %>
<!-- Wrapper -->
<div id="wrapper">


	<!-- Main -->
		<div id="main">
			<div class="inner">
				<header>
					<h1>Welcome to the Cecil-Lemkin-Bogg-Drigger Family Archive</h1><br />
					<p>This website houses a curated collection of artifacts from the Cecil, Lemkin, Bogg, and Drigger families. Please enjoy the artifacts by browsing through them, and filtering on metadata or keywords. Click on an item to learn more about it.</p>
				</header>
				<section class="tiles">
					<% for artifact in @artifacts %>
					<% if @count == 5 -%>
					  <% @count = 0 %>
					<% end -%>
					<article class="<%= @styles[@count] %>">
						<span class="image">
							<img src="<%= artifact.image_url[0] %>" alt="Image of <%= artifact.artifact_name %>" />
						</span>
						<a href="/generic?id=<%= artifact.id %>">
							<h2><%= artifact.artifact_name %></h2>
							<div class="content">
								<p><%= artifact.short_description %></p>
							</div>
						</a>
					</article>
					<% @count += 1 %>
					<% end %>
				</section>
			</div>
		</div>

</div>
<% else %>
<h1>Please login to view the archive</h1>
<% end %>
