<% if current_user %>
  <% if current_user.is_admin %>

<h1>Add a User able to view the Archive</h1>

<!-- Flash notices -->
<% if flash[:notice] -%>
  <p class="notice"><%= flash[:notice] %></p>
<% end -%>
<% if flash[:error] -%>
  <p class="error"><%= flash[:error] %></p>
<% end -%>
<!-- End Flash notices -->

<!-- edit artifact form -->
<%= simple_form_for @artifact, :url => url_for(:action => 'update', :controller => 'artifacts', :id => @artifact.id), :method => :patch do |f| %>
  <%= render "artifact_form", f: f %>
  <%= f.button :submit ,  :onclick => 'return confirm("Confirm Save Artifact")' %>
  <%= link_to 'Return to Artifact Page', {:controller => "artifacts", :action => "index", :method => :get, :id => @artifact.id.to_s } %>
<% end %>
<!-- edit artifact form -->

<script>
$(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper1         = $(".input_fields_wrap1"); //Fields wrapper
    var wrapper2         = $(".input_fields_wrap2"); //Fields wrapper

    $("#add_field_button1").click(function(e) {
      e.preventDefault();
      $(wrapper1).append('<div><input class="string url required" type="url" name="artifact[image_url][]" id="artifact_image_url" required="required" aria-required="true" > <a href="#" class="remove_field">Remove</a></div>'); //add input box
    });

    $("#add_field_button2").click(function(e) {
      e.preventDefault();
      $(wrapper2).append('<div></i><input style="width:20%;" class="string optional" type="text" name="artifact[content_tag][]" id="artifact_content_tag"><a href="#" class="remove_field">Remove</a></div>'); //add input box
    });
    $(wrapper1).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault();
        $(this).parent('div').remove();
    })
    $(wrapper2).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault();
        $(this).parent('div').remove();
    })
});
</script>

  <% else %>
  <h1>You do not have permission to add users.</h1>
  <% end %>
<% else %>
<h1>You do not have permission to add users.</h1>
<% end %>
