<% if current_user %>
  <% if current_user.is_admin %>

<h1>Add a User able to view the Archive</h1>

<%= render "shared/flash_notice", flash: flash %>

<!-- edit artifact form -->
<%= simple_form_for @artifact, :url => url_for(:action => 'update', :controller => 'artifacts', :id => @artifact.id), :method => :patch do |f| %>
  <%= render "artifact_form", f: f %>
  <%= f.button :submit ,  :onclick => 'return confirm("Confirm Save Artifact")' %>
  <%= link_to 'Return to Artifact Page', {:controller => "artifacts", :action => "index", :method => :get, :id => @artifact.id.to_s } %>
<% end %>
<!-- edit artifact form -->

<script src="https://alemkin.com/archive/assets/tagAndImageBoxAppender.js"></script>

  <% else %>
  <h1>You do not have permission to add users.</h1>
  <% end %>
<% else %>
<h1>You do not have permission to add users.</h1>
<% end %>
