<% if current_user %>
<link rel="stylesheet" href="/archive/assets/artifact.css" />
<%= render "shared/flash_notice", flash: flash %>
<!-- Wrapper -->
<div id="wrapper">

<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1><%=@artifact.artifact_name%></h1>
			<h3><%=@artifact.subject_author_name%></h3>
			<% if current_user.is_admin -%>
			<%= button_to 'Edit this Artifact', {:controller => "artifacts", :action => "edit", :id => @artifact.id.to_s}, method: :get, :class => "button" %>
			<%= button_to 'Delete', {:controller => "artifacts", :action => "destroy", :id => @artifact.id.to_s}, method: :delete,
															:onclick => 'return confirm("Confirm Delete Artifact")', :class => "button small deleteartifactbutton" %>
			<% end -%>

      <% if @artifact.video_url.to_s.strip.length != 0 -%>
        <video width="100%" controls>
         <source src=<%=@artifact.video_url%>>
         Your browser does not support the video tag.
        </video>
      <% else -%>
  			<div class="gallery" align="center">
  				<div class="image preview" align="center" style="height: 500px;">
  					<a id="previewhref" href="<%=@artifact.image_url[0]%>" target="_blank"><img id="preview" src="<%=@artifact.image_url[0]%>" alt="Image of <%=@artifact.artifact_name%>" /></a>
  				</div>
  				<hr style="width:60%;">
  				<div class="thumbnails" >
  					<% for image in @artifact.image_url %>
  					<img onclick="getElementById('preview').src='<%=image%>';getElementById('previewhref').href='<%=image%>';" src="<%=image%>" alt="Missing image" />
  					<% end %>
  				</div>
          <hr style="width:60%; margin-bottom: 50px;">
  			</div>
      <% end -%>


			<h2>Story</h2>
			<% for s_paragraph in @story_paragraphs %>
				<p style="font-size:18px;"><%=s_paragraph%></p>
			<% end %>
			<% if @artifact.transcribed_text && @artifact.transcribed_text.to_s.strip.length > 0 -%>
			<h2>Transcribed Text of Document</h3>
				<% for t_paragraph in @transcribed_paragraphs %>
					<p style="font-size:18px;"><%=t_paragraph%></p>
				<% end %>
			<% end -%>
		</div>
    <br/><br/>

		<div class="meta-container">
	    <div class="meta-flex-item left">
				<h6>Family Name:</h6>
				<p><%=@artifact.family_name%></p>
				<% if @artifact.exact_date -%>
					<h6>Exact Dating of Artifact:</h6>
					<p><%=@artifact.exact_date.strftime("%B %-d, %Y")%></p>
				<% elsif @artifact.estimated_date -%>
					<h6>Estimated Dating of Artifact:</h6>
					<p><%=@artifact.estimated_date%></p>
				<% end %>
			</div>
	    <div class="meta-flex-item right">
				<h6>Type of Artifact: </h6>
					<p><%=@artifact.artifact_type%></p>
				<h6> Meta Tags: </h6>
				<p>
					<% for content in @artifact.content_tag %>
						<%= link_to content, {:controller => "pages", :action => "index", :method => :get, :search => content, :utf8 => '✓', :commit => ''} %>
						<% if (content != @artifact.content_tag.last)%>
						,&nbsp;
						<% end %>
					<% end %>
					<!-- <%=@artifact.content_tag.to_sentence(:last_word_connector => ', ')%> -->
				</p>
			</div>
		</div>
	</div>

</div>
<% else %>
<h1 style="text-align: center;">Please log in to view the archive</h1>
<% end %>
