<% if current_user %>
  <% if current_user.is_admin %>

<h1>Add a new Artifact to the Archive</h1>

<!-- Flash notices -->
<% if flash[:notice] -%>
  <p class="notice"><%= flash[:notice] %></p>
<% end -%>
<% if flash[:error] -%>
  <p class="error"><%= flash[:error] %></p>
<% end -%>
<!-- End Flash notices -->

<!-- New artifact form -->
<%= simple_form_for @artifact, url: '/artifacts' do |f| %>
  <%= f.input :artifact_name, label: 'Artifact Name:', error: 'Artifact Name invalid'%>
  <br/>
  <%= f.input :short_description, label: 'Short Description:', error: 'Short description invalid' %>
  <br/>
  <%= f.input :story_text, as: :text, label: 'Story:', error: 'Story invalid' %>
  <br/>
  <%= f.input :transcribed_text, as: :text, label: 'Transcribed text of document:', error: 'Transcribed Text invalid'%>
  <br/>
  <label class="url required" for="artifact_image_url"><abbr title="required">*</abbr> Url to direct Image:</label>
  <div class="input_fields_wrap1">
    <a href="javascript:void(0);" id="add_field_button1"><i class="fa fa-plus"></i>Add Another Image</a>
    <div>
      <input class="string url required" type="url" name="artifact[image_url][]" id="artifact_image_url"
      required="required" aria-required="true" >
    </div>
  </div>
  <br/>
  <%= f.input :video_url, label: 'Url to direct Video:', error: 'Video url invalid' %>
  <br/>
  <%= f.input :subject_author_name, label: 'Subject/Author Name:', error: 'Subject/Author invalid' %>
  <br/>
  <%= f.input :family_name, collection: @family_names, label: 'Family Name:', error: 'Family Name invalid' %>
  <br/>
  <%= f.input :artifact_type, collection: @artifact_types, label: 'Artifact Type:', error: 'Artifact type invalid' %>
  <br/>
  <%= f.input :exact_date, label: 'Exact Date:', as: :date, start_year: Time.now.year - 200, end_year: Time.now.year, order: [:day, :month, :year], html5: true, error: 'Exact date invalid'  %>
  <br/>
  <%= f.input :estimated_date, label: 'Estimated Date:' , error: 'Estimated date invalid'%>
  <br/>
  <label class="string optional" for="artifact_content_tag">Extra Content Tags:</label>
  <div class="input_fields_wrap2">
    <a href="javascript:void(0);" id="add_field_button2"><i class="fa fa-plus"></i>Add Another Tag</a>
    <div>
      <input style="width:20%;" class="string optional" type="text" name="artifact[content_tag][]" id="artifact_content_tag">
    </div>
  </div>
  <br/>
  <%= f.button :submit ,  :onclick => 'return confirm("Confirm Add New Artifact")' %>
  <%= link_to 'Return to Home', '/' %>
<% end %>
<!-- End New artifact form -->

<script>
$(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper1         = $(".input_fields_wrap1"); //Fields wrapper
    var wrapper2         = $(".input_fields_wrap2"); //Fields wrapper

    $("#add_field_button1").click(function(e) {
      e.preventDefault();
      $(wrapper1).append('<div><input class="string url required" type="url" name="artifact[image_url][]" id="artifact_image_url" required="required" aria-required="true" > <a href="#" class="remove_field">Remove</a></div>'); //add input box
    });

    $("#add_field_button2").click(function(e) {
      e.preventDefault();
      $(wrapper2).append('<div></i><input style="width:20%;" class="string optional" type="text" name="artifact[content_tag][]" id="artifact_content_tag"><a href="#" class="remove_field">Remove</a></div>'); //add input box
    });
    $(wrapper1).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault();
        $(this).parent('div').remove();
    })
    $(wrapper2).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault();
        $(this).parent('div').remove();
    })
});
</script>

  <% else %>
  <h1>You do not have permission to add users.</h1>
  <% end %>
<% else %>
<h1>You do not have permission to add users.</h1>
<% end %>
