<% if current_user %>
  <% if current_user.is_admin %>

<h1>Add a new Artifact to the Archive</h1>

<!-- Flash notices -->
<% if flash[:notice] -%>
  <p class="notice"><%= flash[:notice] %></p>
<% end -%>
<% if flash[:error] -%>
  <p class="error"><%= flash[:error] %></p>
<% end -%>
<!-- End Flash notices -->

<!-- New artifact form -->
<%= simple_form_for @artifact, url: '/createartifact' do |f| %>
  <%= f.input :artifact_name, label: 'Artifact Name:', error: 'Artifact Name required'%>
  <%= f.input :short_description, label: 'Short Description:', error: 'Short description required' %>
  <%= f.input :story_text, as: :text, label: 'Story:', error: 'Story required' %>
  <%= f.input :transcribed_text, as: :text, label: 'Transcribed text of document:'%>
  <%= f.input :image_url, label: 'Url to direct Image:', error: 'Image Url confirmation required' %>
  <%= f.input :video_url, label: 'Url to direct Video:' %>
  <%= f.input :subject_author_name, label: 'Subject/Author Name:', error: 'Subject/Author required' %>
  <%= f.input :family_name, collection: @family_names, label: 'Family Name:' %>
  <%= f.input :artifact_type, collection: @artifact_types, label: 'Artifact Type:' %>
  <%= f.input :exact_date, label: 'Exact Date:', as: :date, start_year: Time.now.year - 200, end_year: Time.now.year, order: [:day, :month, :year], html5: true  %>
  <%= f.input :estimated_date, label: 'Estimated Date:' %>
  <%= f.input :content_tag, label: 'Extra Content Tags, Comma Separated:' %>
  <%= f.button :submit ,  :onclick => 'return confirm("Confirm Add New Artifact")' %>
  <%= link_to 'Return to Home', '/index' %>
<% end %>
<!-- End New artifact form -->

  <% else %>
  <h1>You do not have permission to add users.</h1>
  <% end %>
<% else %>
<h1>You do not have permission to add users.</h1>
<% end %>
