
<!DOCTYPE html>
<html>
<head>
  <title>Cecil-Lemkin Family Archive</title>
  <!--[if lte IE 8]><script src="/archive/assets/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/archive/assets/main.css" />
  <link rel="stylesheet" href="/archive/assets/font-awesome.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if lte IE 9]><link rel="stylesheet" href="/archive/assets/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="/archive/assets/ie8.css" /><![endif]-->
  <%= csrf_meta_tags %>
  <!-- Scripts -->
  <script src="/archive/assets/jquery.min.js"></script>
  <script src="/archive/assets/skel.min.js"></script>
  <script src="/archive/assets/util.js"></script>
  <!--[if lte IE 8]><script src="/archive/assets/ie/respond.min.js"></script><![endif]-->  
	<link rel="icon" href="/archive/favicon.ico">
</head>
<body>

<% if current_user %>
  Signed in as <%= current_user.name %>
<% end %>

<!-- Header -->
  <header id="header">
    <div class="inner" style="text-align:center;">
      <!-- Logo -->
	      <a href="/archive" class="logo">
          <span class="symbol"><i class="fa fa-heart-o"></i></span><span class="title">Four Corners Family Archive</span>
        </a>
      <!-- Nav -->
        <nav>
          <ul>
            <li><a href="#menu">Menu</a></li>
          </ul>
        </nav>

    </div>
  </header>

<!-- Menu -->
  <nav id="menu">
    <h2>Menu</h2>
    <ul>
      <% if current_user %>
      <li style="">
        <%= form_tag(root_path, :method => "get", id: "search-form", style: "display:flex;") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Artifacts",
          title: "Type in keywords to search the artifacts on. The results will contain artifacts that have a column containing each of the entered words." %>
          <button type="submit" name="commit" value=""><i class="fa fa-search" style="color: white !important;font-size:1.5em;"></i></button>
        <% end %>
      </li>
      <li><%= link_to '   Home', root_path, class: "fa fa-home" %></li>
      <li><%= link_to '   Logout', logout_path, class: "fa fa-sign-out" %></li>
        <% if current_user.is_admin %>
          <li><%= link_to '   Add User', users_new_path, class: "fa fa-user-plus" %></li>
          <li><%= link_to '   Add Artifact', artifacts_new_path, class: "fa fa-plus" %></li>
          <li><%= link_to '   View Users', users_path, class: "fa fa-users" %></li>
        <% end %>
      <% else %>
      <li><%= link_to '   Login', login_path, class: "fa fa-sign-in" %> </li>
      <% end %>
    </ul>
  </nav>
<%= yield %>

<script src="/archive/assets/main.js"></script>
</body>
</html>
