<!DOCTYPE html>
<html>
<head>
  <title>Cecil-Lemkin Family Archive</title>
  <!--[if lte IE 8]><script src="http://localhost:3000/assets/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="http://localhost:3000/assets/main.css" />
  <link rel="stylesheet" href="http://localhost:3000/assets/font-awesome.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if lte IE 9]><link rel="stylesheet" href="http://localhost:3000/assets/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="http://localhost:3000/assets/ie8.css" /><![endif]-->
  <%= csrf_meta_tags %>
  <!-- Scripts -->
  <script src="http://localhost:3000/assets/jquery.min.js"></script>
  <script src="http://localhost:3000/assets/skel.min.js"></script>
  <script src="http://localhost:3000/assets/util.js"></script>
  <!--[if lte IE 8]><script src="http://localhost:3000/assets/ie/respond.min.js"></script><![endif]-->

</head>
<body>

<% if current_user %>
  Signed in as <%= current_user.name %>
<% end %>

<!-- Header -->
  <header id="header">
    <div class="inner">
      <!-- Logo -->
        <a href="/" class="logo">
          <span class="symbol"><i class="fa fa-heart-o"></i></span><span class="title">Four Corners Family Archive</span>
        </a>
      <!-- Nav -->
        <nav>
          <ul>
            <li><a href="#menu">Menu</a></li>
          </ul>
        </nav>

    </div>
  </header>

<!-- Menu -->
  <nav id="menu">
    <h2>Menu</h2>
    <ul>
      <% if current_user %>
      <li>
        <%= form_tag("/", :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Artifacts" %>
          <%= submit_tag "Search", style: "text-color:white;" %>
        <% end %>
      </li>
      <li><%= link_to '   Home', '/', class: "fa fa-home" %></li>
      <li><%= link_to '   Logout', '/logout', class: "fa fa-sign-out" %></li>
        <% if current_user.is_admin %>
          <li><%= link_to '   Add User', '/users/new', class: "fa fa-user-plus" %></li>
          <li><%= link_to '   Add Artifact', '/artifacts/new', class: "fa fa-plus" %></li>
          <li><%= link_to '   View Users', '/users', class: "fa fa-users" %></li>
        <% end %>
      <% else %>
      <li><%= link_to '   Login', '/login', class: "fa fa-sign-in" %> </li>
      <% end %>
    </ul>
  </nav>
<%= yield %>

<script src="http://localhost:3000/assets/main.js"></script>
</body>
</html>
